/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Akshar', serif;
    --main-color: rgb(94, 11, 116);
    --secondary-color: rgb(214, 96, 247);
    --extra-color-1: rgb(197, 22, 245);
    --extra-color-2: rgb(102, 46, 117);
    --extra-color-3: rgb(156, 17, 194);
}

main {
    padding: 2vh 3vw;
}

.navbar {
    height: 10vh;
    padding: 0 1vw;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
}

.navbar-home {
    grid-column: 1 / 2;
}

.navbar-options {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    column-gap: 1vw;
    justify-items: center;
}

.navbar-title {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.navbar-option {
    margin: 0;
    padding: 2vh 2vw;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-family: inherit;
    color: white;
    text-decoration: none;
    text-align: center;
}