.details-container {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    row-gap: 2vh;
}

.event-display,
.event-attendees {
    padding: 1vh 1vw;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    width: 40%;
}

.event-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1vw;
    font-size: 1.5rem;
}

.event-field div:first-child {
    font-weight: bold;
}

.events-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vh;
}

.event-container {
    padding: 1vh 2vw;
    border: 2px solid black;
    border-radius: 10px;
}

.event-title {
    font-size: 1.5rem;
    color: var(--extra-color-3);
    text-decoration: none;
}

.event-description {
    font-size: 1.25rem;
}

.event-geo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event-option-form {
    margin-top: 2vh;
    padding: 0;
}

.event-option {
    padding: 1vh 1vw;
    font-family: 'Akshar', serif;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.no-attendee {
    font-size: 1rem;
}

.event-attendee {
    font-size: 1rem;
    font-weight: bold;
}